{# templates/blog/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Super stronka</title>
</head>
<body>
login
    <div>
        <a href="/blog/index" title="lista">Homepage</a>
        <a href="/blog/lista" title="lista">List</a>
        <a href="/blog/login" title="lista">Login</a>


    </div>
</body>
</html>
